In [1]:
import pandas as pd
import os

# User-Dataframe

In [2]:
folder_path = './data'
list_of_filenames = os.listdir(folder_path)

In [3]:
info_files = []
tracking_files = []

for file in list_of_filenames :
    
    if file.split("_")[1] == "info":
        info_files.append(file)
    else:
        tracking_files.append(file)

In [4]:
users_list = []

for file in info_files:
    
    with open('./data/' + file, 'r') as file:
        info = file.read()
    
    if info.split(", ")[1] != "999": #used as testing indicator
        users_list.append(info.split(", "))

users = pd.DataFrame(users_list, columns=["uuid", "age", "gender", "device", "sorting_option"])
users

                        uuid age  gender    device sorting_option
0   649bf93e99881a2b49291e23  61    male     mouse              3
1   649ad0398c611bb012843f4d  25    male     mouse              2
2   649af42c8c611c4708e4e18d  25    male  touchpad              2
3   649b2b1e8c61127922e1a7fa  25    male     mouse              1
4   649b269e8c617a4301bc7247  55  female     mouse              1
5   649be8ba8c619f5efb2614e0  59  female     mouse              2
6   649aba058c612604f08fde63  23  female  touchpad              3
7   649b38738c611b846db1a58d  25  female     mouse              1
8   64995bac8c61d60b08d58991  26  female     mouse              1
9   649c8b1d8c61291698048377  25  female  touchpad              1
10  649b30938c6117fb06cfde92  54    male     mouse              1
11  649bdcfe8c6121e7a6d49d14  61    male     mouse              3

# filenames verkürzen und in neuen Ordner

In [5]:
for file in tracking_files:
    
    if len(file.split("_")) == 6:
        
        new_file = file.split("_")[0] + "_" + file.split("_")[2]

        csv = pd.read_csv("./data/" + file, names = ["action", "x", "y", "ms"], header = None, index_col = [0])
        csv.set_index("ms")
        csv.to_csv("./data/tracking_files/" + new_file + ".csv")

# User überprüfen

## Anzahl Files

In [6]:
num_of_files_per_user = []

for uuid in users["uuid"]:
    
    user_files = []
    
    for file in tracking_files:
        
        if file.split("_")[0] == uuid:
            user_files.append(file)
    
    num_of_files_per_user.append(len(user_files))

users["num_of_files"] = num_of_files_per_user

In [7]:
users

,uuid,age,gender,device,sorting_option,num_of_files
0,649bf93e99881a2b49291e23,61,male,mouse,3,23
1,649ad0398c611bb012843f4d,25,male,mouse,2,23
2,649af42c8c611c4708e4e18d,25,male,touchpad,2,23
3,649b2b1e8c61127922e1a7fa,25,male,mouse,1,23
4,649b269e8c617a4301bc7247,55,female,mouse,1,23
5,649be8ba8c619f5efb2614e0,59,female,mouse,2,23
6,649aba058c612604f08fde63,23,female,touchpad,3,23
7,649b38738c611b846db1a58d,25,female,mouse,1,23
8,64995bac8c61d60b08d58991,26,female,mouse,1,23
9,649c8b1d8c61291698048377,25,female,touchpad,1,23
10,649b30938c6117fb06cfde92,54,male,mouse,1,23
11,649bdcfe8c6121e7a6d49d14,61,male,mouse,3,23

## Koordinaten der Buttons

In [8]:
coords_match = []

for uuid in users["uuid"]:
    
    a1 = pd.read_csv("./data/tracking_files/" + uuid + "_A1.csv")
    
    x = a1.sort_values("ms").iloc[-1]["x"]
    y = a1.sort_values("ms").iloc[-1]["y"]
    
    if 1315 <= x <= 1381.8999938964844 and 745 <= y <= 783:
        coords_match.append(True)
    else:
        coords_match.append(False)

users["coords_match"] = coords_match

# Fehlerhafte User entfernen

In [9]:
users

,uuid,age,gender,device,sorting_option,num_of_files,coords_match
0,649bf93e99881a2b49291e23,61,male,mouse,3,23,True
1,649ad0398c611bb012843f4d,25,male,mouse,2,23,True
2,649af42c8c611c4708e4e18d,25,male,touchpad,2,23,True
3,649b2b1e8c61127922e1a7fa,25,male,mouse,1,23,True
4,649b269e8c617a4301bc7247,55,female,mouse,1,23,True
5,649be8ba8c619f5efb2614e0,59,female,mouse,2,23,True
6,649aba058c612604f08fde63,23,female,touchpad,3,23,True
7,649b38738c611b846db1a58d,25,female,mouse,1,23,True
8,64995bac8c61d60b08d58991,26,female,mouse,1,23,True
9,649c8b1d8c61291698048377,25,female,touchpad,1,23,True
10,649b30938c6117fb06cfde92,54,male,mouse,1,23,True
11,649bdcfe8c6121e7a6d49d14,61,male,mouse,3,23,True

In [10]:
users.drop((users["num_of_files"] != 23).index)

Empty DataFrame
Columns: [uuid, age, gender, device, sorting_option, num_of_files, coords_match]
Index: []

In [11]:
users.drop((users["coords_match"] == False).index)

Empty DataFrame
Columns: [uuid, age, gender, device, sorting_option, num_of_files, coords_match]
Index: []