In [1]:
import pandas as pd
import os
import math

In [2]:
users = pd.read_csv("./results/users.csv")

folder_path = './data/tracking_files/'
list_of_filenames = os.listdir(folder_path)

tasks = ["E1", "E2", "E3"]

# path

In [3]:
for task in tasks:
    
    task_dict = {}

    for file in list_of_filenames:
        if file.split("_")[1] == task + ".csv":
            df = pd.read_csv("data/tracking_files/" + file)
            task_dict[file.split("_")[0]] = df

    path_lengths = []

    for user_id in users["uuid"]:

        path_length = 0
        df_path = task_dict[user_id]

        for i in range(1, len(df_path)):
            dx = df_path['x'].iloc[i] - df_path['x'].iloc[i-1]
            dy = df_path['y'].iloc[i] - df_path['y'].iloc[i-1]
            segment_length = math.sqrt(dx**2 + dy**2)
            path_length += segment_length
        path_lengths.append(path_length)

    users["path_" + task] = path_lengths

users

,uuid,age,gender,device,sorting_option,num_of_files,coords_match,path_E1,path_E2,path_E3
0,649bf93e99881a2b49291e23,61,male,mouse,3,23,True,622.722904,492.031700,515.905771
1,649ad0398c611bb012843f4d,25,male,mouse,2,23,True,514.016720,488.780575,593.217099
2,649af42c8c611c4708e4e18d,25,male,touchpad,2,23,True,467.307732,452.510325,468.088532
3,649b2b1e8c61127922e1a7fa,25,male,mouse,1,23,True,492.644046,450.760499,467.896643
4,649b269e8c617a4301bc7247,55,female,mouse,1,23,True,757.704066,655.783794,575.245990
5,649be8ba8c619f5efb2614e0,59,female,mouse,2,23,True,890.121131,479.531061,713.576041
6,649aba058c612604f08fde63,23,female,touchpad,3,23,True,523.808668,525.000092,490.811323
7,649b38738c611b846db1a58d,25,female,mouse,1,23,True,531.727165,440.324626,493.590238
8,64995bac8c61d60b08d58991,26,female,mouse,1,23,True,583.854219,644.263257,699.453714
9,649c8b1d8c61291698048377,25,female,touchpad,1,23,True,471.314932,434.232297,453.121944
10,649b30938c6117fb06cfde92,54,male,mouse,1,23,True,507.261573,563.209412,478.474402
11,649bdcfe8c6121e7a6d49d14,61,male,mouse,3,23,True,500.209287,445.197928,522.551026

# time

In [4]:
for task in tasks:
    
    task_times = []

    for user in users["uuid"]:
        df = pd.read_csv("data/tracking_files/" + user + "_" + task + ".csv")
        task_times.append(df.iloc[-1]["ms"])

    users["time_" + task] = task_times

users

,uuid,age,gender,device,sorting_option,num_of_files,coords_match,path_E1,path_E2,path_E3,time_E1,time_E2,time_E3
0,649bf93e99881a2b49291e23,61,male,mouse,3,23,True,622.722904,492.031700,515.905771,3809,1697,1400
1,649ad0398c611bb012843f4d,25,male,mouse,2,23,True,514.016720,488.780575,593.217099,1070,1295,1031
2,649af42c8c611c4708e4e18d,25,male,touchpad,2,23,True,467.307732,452.510325,468.088532,2102,2759,1479
3,649b2b1e8c61127922e1a7fa,25,male,mouse,1,23,True,492.644046,450.760499,467.896643,1460,1441,1658
4,649b269e8c617a4301bc7247,55,female,mouse,1,23,True,757.704066,655.783794,575.245990,4874,7537,5068
5,649be8ba8c619f5efb2614e0,59,female,mouse,2,23,True,890.121131,479.531061,713.576041,2424,2481,1911
6,649aba058c612604f08fde63,23,female,touchpad,3,23,True,523.808668,525.000092,490.811323,4433,2600,3917
7,649b38738c611b846db1a58d,25,female,mouse,1,23,True,531.727165,440.324626,493.590238,2349,3089,2261
8,64995bac8c61d60b08d58991,26,female,mouse,1,23,True,583.854219,644.263257,699.453714,1463,1833,3369
9,649c8b1d8c61291698048377,25,female,touchpad,1,23,True,471.314932,434.232297,453.121944,1128,1166,1955
10,649b30938c6117fb06cfde92,54,male,mouse,1,23,True,507.261573,563.209412,478.474402,1826,2065,1748
11,649bdcfe8c6121e7a6d49d14,61,male,mouse,3,23,True,500.209287,445.197928,522.551026,3396,1665,1880

# describe

In [5]:
users.describe()

,age,sorting_option,num_of_files,path_E1,path_E2,path_E3,time_E1,time_E2,time_E3
count,12.000000,12.000000,12.0,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000
mean,38.666667,1.750000,23.0,571.891037,505.968797,539.327727,2527.833333,2469.000000,2306.416667
std,17.195842,0.866025,0.0,128.786965,77.137037,88.823003,1300.520024,1708.625444,1193.859932
min,23.000000,1.000000,23.0,467.307732,434.232297,453.121944,1070.000000,1166.000000,1031.000000
25%,25.000000,1.000000,23.0,498.317977,449.369856,475.877934,1462.250000,1609.000000,1613.250000
50%,25.500000,1.500000,23.0,518.912694,484.155818,504.748005,2225.500000,1949.000000,1895.500000
75%,56.000000,2.250000,23.0,593.571390,534.552422,579.738767,3499.250000,2639.750000,2538.000000
max,61.000000,3.000000,23.0,890.121131,655.783794,713.576041,4874.000000,7537.000000,5068.000000

# Speichern

In [6]:
users.to_csv("./results/analysis_E.csv", index=False)