In [1]:
import pandas as pd
import os
import math

In [2]:
users = pd.read_csv("./results/users.csv")

folder_path = './data/tracking_files/'
list_of_filenames = os.listdir(folder_path)

tasks = ["D1", "D2"]

# path

In [3]:
for task in tasks:
    
    task_dict = {}

    for file in list_of_filenames:
        if file.split("_")[1] == task + ".csv":
            df = pd.read_csv("data/tracking_files/" + file)
            task_dict[file.split("_")[0]] = df

    path_lengths = []

    for user_id in users["uuid"]:

        path_length = 0
        df_path = task_dict[user_id]

        for i in range(1, len(df_path)):
            dx = df_path['x'].iloc[i] - df_path['x'].iloc[i-1]
            dy = df_path['y'].iloc[i] - df_path['y'].iloc[i-1]
            segment_length = math.sqrt(dx**2 + dy**2)
            path_length += segment_length
        path_lengths.append(path_length)

    users["path_" + task] = path_lengths

users

,uuid,age,gender,device,sorting_option,num_of_files,coords_match,path_D1,path_D2
0,649bf93e99881a2b49291e23,61,male,mouse,3,23,True,414.756640,351.410796
1,649ad0398c611bb012843f4d,25,male,mouse,2,23,True,593.207263,2096.347318
2,649af42c8c611c4708e4e18d,25,male,touchpad,2,23,True,1621.081970,561.630888
3,649b2b1e8c61127922e1a7fa,25,male,mouse,1,23,True,463.608536,270.799086
4,649b269e8c617a4301bc7247,55,female,mouse,1,23,True,1991.304496,650.573178
5,649be8ba8c619f5efb2614e0,59,female,mouse,2,23,True,2006.627258,7426.651857
6,649aba058c612604f08fde63,23,female,touchpad,3,23,True,570.716731,367.124364
7,649b38738c611b846db1a58d,25,female,mouse,1,23,True,531.375989,299.319710
8,64995bac8c61d60b08d58991,26,female,mouse,1,23,True,451.387838,358.202311
9,649c8b1d8c61291698048377,25,female,touchpad,1,23,True,466.824542,232.031669
10,649b30938c6117fb06cfde92,54,male,mouse,1,23,True,473.831069,288.002343
11,649bdcfe8c6121e7a6d49d14,61,male,mouse,3,23,True,386.462686,225.405891

# time

In [4]:
for task in tasks:
    
    task_times = []

    for user in users["uuid"]:
        df = pd.read_csv("data/tracking_files/" + user + "_" + task + ".csv")
        task_times.append(df.iloc[-1]["ms"])

    users["time_" + task] = task_times

users

,uuid,age,gender,device,sorting_option,num_of_files,coords_match,path_D1,path_D2,time_D1,time_D2
0,649bf93e99881a2b49291e23,61,male,mouse,3,23,True,414.756640,351.410796,2351,3305
1,649ad0398c611bb012843f4d,25,male,mouse,2,23,True,593.207263,2096.347318,2243,3864
2,649af42c8c611c4708e4e18d,25,male,touchpad,2,23,True,1621.081970,561.630888,3954,3225
3,649b2b1e8c61127922e1a7fa,25,male,mouse,1,23,True,463.608536,270.799086,1929,1854
4,649b269e8c617a4301bc7247,55,female,mouse,1,23,True,1991.304496,650.573178,13999,8570
5,649be8ba8c619f5efb2614e0,59,female,mouse,2,23,True,2006.627258,7426.651857,8080,18265
6,649aba058c612604f08fde63,23,female,touchpad,3,23,True,570.716731,367.124364,4016,3490
7,649b38738c611b846db1a58d,25,female,mouse,1,23,True,531.375989,299.319710,2734,1813
8,64995bac8c61d60b08d58991,26,female,mouse,1,23,True,451.387838,358.202311,1664,1937
9,649c8b1d8c61291698048377,25,female,touchpad,1,23,True,466.824542,232.031669,2820,1631
10,649b30938c6117fb06cfde92,54,male,mouse,1,23,True,473.831069,288.002343,2686,1478
11,649bdcfe8c6121e7a6d49d14,61,male,mouse,3,23,True,386.462686,225.405891,1772,4816

# describe

In [5]:
users.describe()

,age,sorting_option,num_of_files,path_D1,path_D2,time_D1,time_D2
count,12.000000,12.000000,12.0,12.000000,12.000000,12.000000,12.000000
mean,38.666667,1.750000,23.0,830.932085,1093.958284,4020.666667,4520.666667
std,17.195842,0.866025,0.0,637.954829,2059.670382,3591.170620,4755.542228
min,23.000000,1.000000,23.0,386.462686,225.405891,1664.000000,1478.000000
25%,25.000000,1.000000,23.0,460.553362,283.701528,2164.500000,1843.750000
50%,25.500000,1.500000,23.0,502.603529,354.806554,2710.000000,3265.000000
75%,56.000000,2.250000,23.0,850.175939,583.866461,3969.500000,4102.000000
max,61.000000,3.000000,23.0,2006.627258,7426.651857,13999.000000,18265.000000

# Speichern

In [6]:
users.to_csv("./results/analysis_D.csv", index=False)