In [1]:
import pandas as pd
import os
import math
import plotly.express as px
import plotly.graph_objects as go

In [8]:
users = pd.read_csv("./results/users.csv")

folder_path = './data/tracking_files/'
list_of_filenames = os.listdir(folder_path)

tasks = ["A1", "A2", "A3", "A4", "A5", "A6", "A7"]
users

,nr,uuid,age,gender,device,sorting_option,num_of_files,coords_match
0,1,649bf93e99881a2b49291e23,61,male,mouse,3,23,True
1,2,649afe9b8c617b636a488066,41,male,mouse,2,23,True
2,3,649ad0398c611bb012843f4d,25,male,mouse,2,23,True
3,4,649af42c8c611c4708e4e18d,25,male,touchpad,2,23,True
4,5,649b2b1e8c61127922e1a7fa,25,male,mouse,1,23,True
5,6,64a1b2e38c611f9c485e8b29,40,female,touchpad,1,23,True
6,7,649b269e8c617a4301bc7247,55,female,mouse,1,23,True
7,8,64a26a678c6147cbab24d968,19,female,touchpad,1,23,True
8,9,649be8ba8c619f5efb2614e0,59,female,mouse,2,23,True
9,10,64a040d18c6121bf2c739076,29,female,touchpad,3,23,True
10,11,649aba058c612604f08fde63,23,female,touchpad,3,23,True
11,12,649b38738c611b846db1a58d,25,female,mouse,1,23,True
12,13,64995bac8c61d60b08d58991,26,female,mouse,1,23,True
13,14,649c8b1d8c61291698048377,25,female,touchpad,1,23,True
14,15,649b48cd8c61c6ca0bbae44b,32,female,mouse,2,23,True
15,16,649b30938c6117fb06cfde92,54,male,mouse,1,23,True
16,17,649bdcfe8c6121e7a6d49d14,61,male,mouse,3,23,True

# path

In [9]:
for task in tasks:
    
    task_dict = {}

    for file in list_of_filenames:
        if file.split("_")[1] == task + ".csv":
            df = pd.read_csv("data/tracking_files/" + file)
            task_dict[file.split("_")[0]] = df

    path_lengths = []

    for user_nr in users["nr"]:
        
        path_length = 0
        df_path = task_dict[str(user_nr)]

        for i in range(1, len(df_path)):
            dx = df_path['x'].iloc[i] - df_path['x'].iloc[i-1]
            dy = df_path['y'].iloc[i] - df_path['y'].iloc[i-1]
            segment_length = math.sqrt(dx**2 + dy**2)
            path_length += segment_length
        path_lengths.append(path_length)

    users["path_" + task] = path_lengths

users

,nr,uuid,age,gender,device,sorting_option,num_of_files,coords_match,path_A1,path_A2,path_A3,path_A4,path_A5,path_A6,path_A7
0,1,649bf93e99881a2b49291e23,61,male,mouse,3,23,True,1853.643007,1029.099311,1630.555929,2233.008738,2170.048275,1972.911950,1921.064231
1,2,649afe9b8c617b636a488066,41,male,mouse,2,23,True,1886.064440,975.492400,2072.210441,1566.213462,1894.108847,1398.161279,1281.126171
2,3,649ad0398c611bb012843f4d,25,male,mouse,2,23,True,3004.503424,2836.840990,4557.869391,3359.160380,1967.367374,1385.118367,1505.599067
3,4,649af42c8c611c4708e4e18d,25,male,touchpad,2,23,True,2931.175568,1883.701631,2804.593382,1752.220885,2275.562554,2397.306043,1766.503075
4,5,649b2b1e8c61127922e1a7fa,25,male,mouse,1,23,True,1985.636672,1374.456074,1722.585509,1195.747036,1327.765554,1609.162690,1795.772668
5,6,64a1b2e38c611f9c485e8b29,40,female,touchpad,1,23,True,2936.952732,1636.015808,1884.919561,1920.869903,2133.457321,1850.534430,2102.300851
6,7,649b269e8c617a4301bc7247,55,female,mouse,1,23,True,2176.615489,1470.069064,2578.500033,1338.062532,2692.813557,1933.835209,2315.049794
7,8,64a26a678c6147cbab24d968,19,female,touchpad,1,23,True,2524.936013,1219.753988,1717.079447,1428.282919,1850.755092,2314.614626,1331.253774
8,9,649be8ba8c619f5efb2614e0,59,female,mouse,2,23,True,2749.563567,1065.741990,2213.886556,3205.307108,1533.996385,2106.101745,1747.298173
9,10,64a040d18c6121bf2c739076,29,female,touchpad,3,23,True,2281.663493,1987.613796,1899.623249,1151.815597,2142.325907,1759.913436,1566.049182
10,11,649aba058c612604f08fde63,23,female,touchpad,3,23,True,1819.565610,1084.454083,2031.827472,2116.215184,1429.805509,1722.544772,1257.335812
11,12,649b38738c611b846db1a58d,25,female,mouse,1,23,True,2155.066788,962.908791,1347.656057,1346.142714,1532.009429,1813.993850,1481.313211
12,13,64995bac8c61d60b08d58991,26,female,mouse,1,23,True,3040.142030,3433.884540,2836.668418,2033.994637,2622.563570,2532.719558,2753.232395
13,14,649c8b1d8c61291698048377,25,female,touchpad,1,23,True,1798.996408,1166.316327,1919.894898,1282.122331,1685.211628,1593.377909,1329.119580
14,15,649b48cd8c61c6ca0bbae44b,32,female,mouse,2,23,True,1303.939517,2160.939399,1305.188222,1639.225845,1862.865768,1892.079598,1549.576562
15,16,649b30938c6117fb06cfde92,54,male,mouse,1,23,True,3202.784211,1387.548529,1860.191943,1445.918542,2118.409034,1341.397471,1492.642654
16,17,649bdcfe8c6121e7a6d49d14,61,male,mouse,3,23,True,2216.980892,1586.510552,2113.841198,1116.665460,1562.121425,1773.880057,1758.528557

# time

In [10]:
for task in tasks:
    
    task_times = []

    for user in users["nr"]:
        df = pd.read_csv("data/tracking_files/" + str(user) + "_" + task + ".csv")
        task_times.append(df.iloc[-1]["ms"] / 1000)

    users["time_" + task] = task_times

users

,nr,uuid,age,gender,device,sorting_option,num_of_files,coords_match,path_A1,path_A2,...,path_A5,path_A6,path_A7,time_A1,time_A2,time_A3,time_A4,time_A5,time_A6,time_A7
0,1,649bf93e99881a2b49291e23,61,male,mouse,3,23,True,1853.643007,1029.099311,...,2170.048275,1972.911950,1921.064231,4.394,4.354,4.272,4.863,4.698,4.369,3.609
1,2,649afe9b8c617b636a488066,41,male,mouse,2,23,True,1886.064440,975.492400,...,1894.108847,1398.161279,1281.126171,10.063,5.304,6.811,5.200,5.284,5.674,5.098
2,3,649ad0398c611bb012843f4d,25,male,mouse,2,23,True,3004.503424,2836.840990,...,1967.367374,1385.118367,1505.599067,3.945,5.840,6.694,3.107,3.389,2.188,2.102
3,4,649af42c8c611c4708e4e18d,25,male,touchpad,2,23,True,2931.175568,1883.701631,...,2275.562554,2397.306043,1766.503075,7.281,4.908,3.582,3.909,3.666,4.460,4.283
4,5,649b2b1e8c61127922e1a7fa,25,male,mouse,1,23,True,1985.636672,1374.456074,...,1327.765554,1609.162690,1795.772668,3.789,3.532,3.771,3.538,3.185,3.467,4.232
5,6,64a1b2e38c611f9c485e8b29,40,female,touchpad,1,23,True,2936.952732,1636.015808,...,2133.457321,1850.534430,2102.300851,4.568,3.589,4.298,5.309,5.214,3.568,4.950
6,7,649b269e8c617a4301bc7247,55,female,mouse,1,23,True,2176.615489,1470.069064,...,2692.813557,1933.835209,2315.049794,6.669,12.182,9.164,11.400,9.902,6.768,15.800
7,8,64a26a678c6147cbab24d968,19,female,touchpad,1,23,True,2524.936013,1219.753988,...,1850.755092,2314.614626,1331.253774,5.891,3.900,4.378,6.832,7.177,5.996,6.091
8,9,649be8ba8c619f5efb2614e0,59,female,mouse,2,23,True,2749.563567,1065.741990,...,1533.996385,2106.101745,1747.298173,6.783,4.655,5.391,7.281,4.424,5.456,4.447
9,10,64a040d18c6121bf2c739076,29,female,touchpad,3,23,True,2281.663493,1987.613796,...,2142.325907,1759.913436,1566.049182,8.232,5.858,6.246,12.846,7.369,9.205,5.736
10,11,649aba058c612604f08fde63,23,female,touchpad,3,23,True,1819.565610,1084.454083,...,1429.805509,1722.544772,1257.335812,7.818,5.376,7.072,6.122,6.986,8.179,4.742
11,12,649b38738c611b846db1a58d,25,female,mouse,1,23,True,2155.066788,962.908791,...,1532.009429,1813.993850,1481.313211,4.358,4.674,6.541,5.064,4.560,4.091,7.002
12,13,64995bac8c61d60b08d58991,26,female,mouse,1,23,True,3040.142030,3433.884540,...,2622.563570,2532.719558,2753.232395,3.496,4.592,4.818,4.896,4.049,3.601,5.248
13,14,649c8b1d8c61291698048377,25,female,touchpad,1,23,True,1798.996408,1166.316327,...,1685.211628,1593.377909,1329.119580,3.569,4.476,4.104,5.596,4.513,4.304,4.199
14,15,649b48cd8c61c6ca0bbae44b,32,female,mouse,2,23,True,1303.939517,2160.939399,...,1862.865768,1892.079598,1549.576562,8.296,16.780,6.904,8.476,3.801,4.758,10.175
15,16,649b30938c6117fb06cfde92,54,male,mouse,1,23,True,3202.784211,1387.548529,...,2118.409034,1341.397471,1492.642654,6.406,3.906,4.411,3.732,3.552,4.110,4.589
16,17,649bdcfe8c6121e7a6d49d14,61,male,mouse,3,23,True,2216.980892,1586.510552,...,1562.121425,1773.880057,1758.528557,5.688,5.141,7.125,5.682,5.210,6.044,4.272

# Kontrolle

nicht nötig, da man ohne Klick auf "Ok" gar nicht weiter kommt.

# Strecke pro Sekunde

In [11]:
for task in tasks:
    users["v_" + task] = users["path_" + task] / users["time_" + task] 

users

,nr,uuid,age,gender,device,sorting_option,num_of_files,coords_match,path_A1,path_A2,...,time_A5,time_A6,time_A7,v_A1,v_A2,v_A3,v_A4,v_A5,v_A6,v_A7
0,1,649bf93e99881a2b49291e23,61,male,mouse,3,23,True,1853.643007,1029.099311,...,4.698,4.369,3.609,421.857762,236.357214,381.684440,459.183372,461.908956,451.570600,532.298207
1,2,649afe9b8c617b636a488066,41,male,mouse,2,23,True,1886.064440,975.492400,...,5.284,5.674,5.098,187.425662,183.916365,304.244669,301.194896,358.461175,246.415453,251.299759
2,3,649ad0398c611bb012843f4d,25,male,mouse,2,23,True,3004.503424,2836.840990,...,3.389,2.188,2.102,761.597826,485.760444,680.888765,1081.158796,580.515602,633.052270,716.269775
3,4,649af42c8c611c4708e4e18d,25,male,touchpad,2,23,True,2931.175568,1883.701631,...,3.666,4.460,4.283,402.578707,383.802288,782.968560,448.252977,620.720828,537.512566,412.445266
4,5,649b2b1e8c61127922e1a7fa,25,male,mouse,1,23,True,1985.636672,1374.456074,...,3.185,3.467,4.232,524.052962,389.143849,456.798066,337.972594,416.880865,464.136917,424.331916
5,6,64a1b2e38c611f9c485e8b29,40,female,touchpad,1,23,True,2936.952732,1636.015808,...,5.214,3.568,4.950,642.940616,455.841685,438.557366,361.813883,409.178619,518.647542,424.707243
6,7,649b269e8c617a4301bc7247,55,female,mouse,1,23,True,2176.615489,1470.069064,...,9.902,6.768,15.800,326.378091,120.675510,281.372767,117.373906,271.946431,285.732153,146.522139
7,8,64a26a678c6147cbab24d968,19,female,touchpad,1,23,True,2524.936013,1219.753988,...,7.177,5.996,6.091,428.609067,312.757433,392.206361,209.057804,257.873080,386.026455,218.560790
8,9,649be8ba8c619f5efb2614e0,59,female,mouse,2,23,True,2749.563567,1065.741990,...,4.424,5.456,4.447,405.360986,228.945648,410.663431,440.228967,346.744210,386.015716,392.916162
9,10,64a040d18c6121bf2c739076,29,female,touchpad,3,23,True,2281.663493,1987.613796,...,7.369,9.205,5.736,277.170006,339.299043,304.134366,89.663366,290.721388,191.191031,273.021127
10,11,649aba058c612604f08fde63,23,female,touchpad,3,23,True,1819.565610,1084.454083,...,6.986,8.179,4.742,232.740549,201.721370,287.305921,345.673830,204.667264,210.605792,265.148843
11,12,649b38738c611b846db1a58d,25,female,mouse,1,23,True,2155.066788,962.908791,...,4.560,4.091,7.002,494.508212,206.013862,206.032114,265.825970,335.966980,443.410865,211.555728
12,13,64995bac8c61d60b08d58991,26,female,mouse,1,23,True,3040.142030,3433.884540,...,4.049,3.601,5.248,869.605844,747.797156,588.764719,415.440081,647.706488,703.337839,524.625075
13,14,649c8b1d8c61291698048377,25,female,touchpad,1,23,True,1798.996408,1166.316327,...,4.513,4.304,4.199,504.061756,260.571119,467.810648,229.114069,373.412725,370.208622,316.532408
14,15,649b48cd8c61c6ca0bbae44b,32,female,mouse,2,23,True,1303.939517,2160.939399,...,3.801,4.758,10.175,157.176895,128.780655,189.048120,193.396159,490.098860,397.662799,152.292537
15,16,649b30938c6117fb06cfde92,54,male,mouse,1,23,True,3202.784211,1387.548529,...,3.552,4.110,4.589,499.966315,355.235159,421.716605,387.437980,596.398940,326.374080,325.265342
16,17,649bdcfe8c6121e7a6d49d14,61,male,mouse,3,23,True,2216.980892,1586.510552,...,5.210,6.044,4.272,389.764573,308.599602,296.679466,196.526832,299.831368,293.494384,411.640580

# Describe

In [17]:
users[["path_A1", "path_A2", "path_A3", "path_A4", "path_A5", "path_A6", "path_A7"]].describe()

,path_A1,path_A2,path_A3,path_A4,path_A5,path_A6,path_A7
count,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000
mean,2345.189992,1603.608663,2146.887747,1772.410193,1929.481602,1846.920764,1703.162692
std,551.591498,687.302153,757.214262,663.131572,395.075903,345.064174,397.767480
min,1303.939517,962.908791,1305.188222,1116.665460,1327.765554,1341.397471,1257.335812
25%,1886.064440,1084.454083,1722.585509,1338.062532,1562.121425,1609.162690,1481.313211
50%,2216.980892,1387.548529,1919.894898,1566.213462,1894.108847,1813.993850,1566.049182
75%,2931.175568,1883.701631,2213.886556,2033.994637,2142.325907,1972.911950,1795.772668
max,3202.784211,3433.884540,4557.869391,3359.160380,2692.813557,2532.719558,2753.232395

In [18]:
users[["time_A1", "time_A2", "time_A3", "time_A4", "time_A5", "time_A6", "time_A7"]].describe()

,time_A1,time_A2,time_A3,time_A4,time_A5,time_A6,time_A7
count,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000
mean,5.955647,5.827471,5.622471,6.109000,5.116412,5.072824,5.680882
std,1.962557,3.428282,1.571804,2.657782,1.789326,1.779822,3.107482
min,3.496000,3.532000,3.582000,3.107000,3.185000,2.188000,2.102000
25%,4.358000,4.354000,4.298000,4.863000,3.801000,4.091000,4.272000
50%,5.891000,4.674000,5.391000,5.309000,4.560000,4.460000,4.742000
75%,7.281000,5.376000,6.811000,6.832000,5.284000,5.996000,5.736000
max,10.063000,16.780000,9.164000,12.846000,9.902000,9.205000,15.800000

In [20]:
users[["v_A1", "v_A2", "v_A3", "v_A4", "v_A5", "v_A6", "v_A7"]].describe()

,v_A1,v_A2,v_A3,v_A4,v_A5,v_A6,v_A7
count,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000
mean,442.693872,314.424612,405.345670,345.842087,409.590222,402.670299,352.907817
std,190.152770,154.044387,159.869729,221.347621,136.493546,141.865967,149.982746
min,157.176895,120.675510,189.048120,89.663366,204.667264,191.191031,146.522139
25%,326.378091,206.013862,296.679466,209.057804,299.831368,293.494384,251.299759
50%,421.857762,308.599602,392.206361,337.972594,373.412725,386.026455,325.265342
75%,504.061756,383.802288,456.798066,415.440081,490.098860,464.136917,424.331916
max,869.605844,747.797156,782.968560,1081.158796,647.706488,703.337839,716.269775

# Speichern

In [ ]:
users.to_csv("./results/analysis_E.csv", index=False)