In [1]:
import pandas as pd
import os
import math

In [2]:
users = pd.read_csv("./results/users.csv")

folder_path = './data/tracking_files/'
list_of_filenames = os.listdir(folder_path)

tasks = ["F1", "F2", "F3"]

# path

In [3]:
for task in tasks:
    
    task_dict = {}

    for file in list_of_filenames:
        if file.split("_")[1] == task + ".csv":
            df = pd.read_csv("data/tracking_files/" + file)
            task_dict[file.split("_")[0]] = df

    path_lengths = []

    for user_id in users["uuid"]:

        path_length = 0
        df_path = task_dict[user_id]

        for i in range(1, len(df_path)):
            dx = df_path['x'].iloc[i] - df_path['x'].iloc[i-1]
            dy = df_path['y'].iloc[i] - df_path['y'].iloc[i-1]
            segment_length = math.sqrt(dx**2 + dy**2)
            path_length += segment_length
        path_lengths.append(path_length)

    users["path_" + task] = path_lengths

users

,uuid,age,gender,device,sorting_option,num_of_files,coords_match,path_F1,path_F2,path_F3
0,649bf93e99881a2b49291e23,61,male,mouse,3,23,True,950.938547,875.354547,1441.839664
1,649ad0398c611bb012843f4d,25,male,mouse,2,23,True,785.396508,728.063684,649.676250
2,649af42c8c611c4708e4e18d,25,male,touchpad,2,23,True,596.366156,740.243115,702.453166
3,649b2b1e8c61127922e1a7fa,25,male,mouse,1,23,True,641.223339,645.234367,756.770399
4,649b269e8c617a4301bc7247,55,female,mouse,1,23,True,714.924015,884.963711,1630.297685
5,649be8ba8c619f5efb2614e0,59,female,mouse,2,23,True,1114.057519,1156.777835,596.028811
6,649aba058c612604f08fde63,23,female,touchpad,3,23,True,709.494589,649.799945,601.564415
7,649b38738c611b846db1a58d,25,female,mouse,1,23,True,462.024609,634.537420,596.069790
8,64995bac8c61d60b08d58991,26,female,mouse,1,23,True,758.067394,748.309167,642.897014
9,649c8b1d8c61291698048377,25,female,touchpad,1,23,True,448.560994,739.526833,544.407517
10,649b30938c6117fb06cfde92,54,male,mouse,1,23,True,495.727829,747.516437,651.115120
11,649bdcfe8c6121e7a6d49d14,61,male,mouse,3,23,True,488.747958,621.934381,605.022259

# time

In [4]:
for task in tasks:
    
    task_times = []

    for user in users["uuid"]:
        df = pd.read_csv("data/tracking_files/" + user + "_" + task + ".csv")
        task_times.append(df.iloc[-1]["ms"])

    users["time_" + task] = task_times

users

,uuid,age,gender,device,sorting_option,num_of_files,coords_match,path_F1,path_F2,path_F3,time_F1,time_F2,time_F3
0,649bf93e99881a2b49291e23,61,male,mouse,3,23,True,950.938547,875.354547,1441.839664,8224,10033,7729
1,649ad0398c611bb012843f4d,25,male,mouse,2,23,True,785.396508,728.063684,649.676250,2495,2578,3463
2,649af42c8c611c4708e4e18d,25,male,touchpad,2,23,True,596.366156,740.243115,702.453166,4070,3699,4802
3,649b2b1e8c61127922e1a7fa,25,male,mouse,1,23,True,641.223339,645.234367,756.770399,4414,5010,2654
4,649b269e8c617a4301bc7247,55,female,mouse,1,23,True,714.924015,884.963711,1630.297685,10633,19594,9720
5,649be8ba8c619f5efb2614e0,59,female,mouse,2,23,True,1114.057519,1156.777835,596.028811,6657,6361,9282
6,649aba058c612604f08fde63,23,female,touchpad,3,23,True,709.494589,649.799945,601.564415,14702,7511,6812
7,649b38738c611b846db1a58d,25,female,mouse,1,23,True,462.024609,634.537420,596.069790,6407,5444,4211
8,64995bac8c61d60b08d58991,26,female,mouse,1,23,True,758.067394,748.309167,642.897014,4113,5570,4136
9,649c8b1d8c61291698048377,25,female,touchpad,1,23,True,448.560994,739.526833,544.407517,5331,8256,4522
10,649b30938c6117fb06cfde92,54,male,mouse,1,23,True,495.727829,747.516437,651.115120,4596,4093,4335
11,649bdcfe8c6121e7a6d49d14,61,male,mouse,3,23,True,488.747958,621.934381,605.022259,10954,5269,5594

# describe

In [5]:
users.describe()

,age,sorting_option,num_of_files,path_F1,path_F2,path_F3,time_F1,time_F2,time_F3
count,12.000000,12.000000,12.0,12.000000,12.000000,12.000000,12.000000,12.000000,12.00000
mean,38.666667,1.750000,23.0,680.460788,764.355120,784.845174,6883.000000,6951.500000,5605.00000
std,17.195842,0.866025,0.0,204.764332,150.262725,357.432529,3598.278401,4475.697071,2281.35247
min,23.000000,1.000000,23.0,448.560994,621.934381,544.407517,2495.000000,2578.000000,2654.00000
25%,25.000000,1.000000,23.0,493.982861,648.658550,600.190759,4338.750000,4780.750000,4192.25000
50%,25.500000,1.500000,23.0,675.358964,739.884974,646.286632,5869.000000,5507.000000,4662.00000
75%,56.000000,2.250000,23.0,764.899672,780.070512,716.032474,8826.250000,7697.250000,7041.25000
max,61.000000,3.000000,23.0,1114.057519,1156.777835,1630.297685,14702.000000,19594.000000,9720.00000

# Speichern

In [6]:
users.to_csv("./results/analysis_F.csv", index=False)